@import '../utils/mixins.scss', '../utils/variables.scss';

.dashboard-div {
    margin: 0 auto;
    padding: 0 1rem;

    button:hover {
        cursor: pointer;
    }
}

.dashboard-header-section {
    @include flex-row;
    justify-content: space-between;
    align-items: end;
    height: 115px;

    h1 {
        font-family: $amatic;
        font-size: 3.5rem;
    }

    button {
        width: 7rem;
        height: 3.5rem;
        margin-bottom: 1rem;
        border: 2px solid $dark-blue;
        border-radius: 10px;
        font-size: 3.5rem;
        line-height: 0;
        font-weight: 600;
        color: $dark-blue;
        background-color: $light-green;
        transition: all 0.2s;
    }

    button:hover {
        border-color: $light-blue;
        color: $light-blue;
        background-color: $dark-green;
    }
}

.empty-card-article {
    width: 680px;
    margin-bottom: 1rem;
    padding: 3rem 2rem 2rem 2rem;
    border: 1px solid $light-gray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;

    p {
        text-align: center;
    }
}

.dashboard-list-section {
    margin-top: 1rem;

    .project-card-article {
        padding: 2rem;

        .project-card-actions {
            @include flex-row;
            width: 100%;
            padding-bottom: 1rem;
            border-bottom: 1px solid $light-gray;
        }

        button {
            width: 5rem;
            height: 3rem;
            margin-bottom: 1rem;
            border: 2px solid $dark-blue;
            border-radius: 10px;

            img {
                width: 2rem;
            }
        }

        button:first-child {
            background-color: $light-yellow;
            transition: background-color 0.2s;
        }

        button:first-child:hover {
            background-color: $dark-yellow;
        }

        button:nth-child(2) {
            background-color: $light-red;
        }

        button:nth-child(2):hover {
            background-color: $medium-red;
        }

        .project-card-heading {
            padding-top: 1rem;
        }

        img {
            width: 85%;
            box-sizing: border-box;
        }
    }
}

.MuiPaper-root {
    h2 {
        color: $dark-blue;
    }
    button {
        color: $medium-blue;
    }
}

@media (min-width: 700px) {
    .dashboard-div {
        width: 682px;
    }

    .dashboard-list-section {

        .project-card-article {

            .project-card-actions {
                grid-column: 1;
                grid-row: 1/4;
                @include flex-column;
                gap: 0.5rem;
                width: unset;
                height: 100%;
                border-right: 1px solid $light-gray;
                border-bottom: unset;
            }
    
            button {
                width: 5rem;
                height: 3rem;
                margin-bottom: 1rem;
                border: 2px solid $dark-blue;
                border-radius: 10px;
    
                img {
                    width: 2rem;
                }
            }
    
            button:first-child {
                background-color: $light-yellow;
                transition: background-color 0.2s;
            }
    
            button:first-child:hover {
                background-color: $dark-yellow;
            }
    
            button:nth-child(2) {
                background-color: $light-red;
            }
    
            button:nth-child(2):hover {
                background-color: $medium-red;
            }

            img {
                width: unset;
            }
        }
    }
}