@import '../utils/mixins.scss', '../utils/variables.scss';

.dashboard-main {
    width: 682px;
    margin: 0 auto;

    button:hover {
        cursor: pointer;
    }
}

.dashboard-header-section {
    @include flex-row;
    justify-content: space-between;
    align-items: end;
    height: 115px;

    h1 {
        font-family: $amatic;
        font-size: 3.5rem;
    }

    button {
        width: 7rem;
        height: 3.5rem;
        margin-bottom: 1rem;
        border: 2px solid $dark-blue;
        border-radius: 10px;
        font-size: 3.5rem;
        line-height: 0;
        font-weight: 600;
        color: $dark-blue;
        background-color: $light-green;
        transition: all 0.2s;
    }

    button:hover {
        border-color: $light-blue;
        color: $light-blue;
        background-color: $dark-green;
    }
}

.empty-card-article {
    width: 680px;
    margin-bottom: 1rem;
    padding: 3rem 2rem 2rem 2rem;
    border: 1px solid $light-gray;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;

    p {
        text-align: center;
    }
}

.dashboard-list-section {

    .project-card-article {

        button {
            width: 5rem;
            height: 3rem;
            margin-bottom: 1rem;
            border: 2px solid $dark-blue;
            border-radius: 10px;

            img {
                width: 2rem;
            }
        }

        button:first-child {
            background-color: $light-yellow;
            transition: background-color 0.2s;
        }

        button:first-child:hover {
            background-color: $dark-yellow;
        }

        button:nth-child(2) {
            background-color: $light-red;
        }

        button:nth-child(2):hover {
            background-color: $medium-red;
        }
    }
}

.MuiPaper-root {
    h2 {
        color: $dark-blue;
    }
    button {
        color: $medium-blue;
    }
}