@import '../utils/mixins.scss', '../utils/variables.scss';

header {
    box-sizing: border-box;
    padding: 0.6rem 1.5rem;
    background-color: $light-blue;

    nav {
        @include flex-row;
        justify-content: space-between;
        z-index: 10;

        .logo-article {
            @include flex-row;
            gap: 1rem;
            
            h2 {
                font-family: $amatic;
                font-size: 2.5rem;
                font-weight: 500;
            }

            img {
                height: 2rem;
            }

            p {
                margin: 0;
                font-size: 0.9rem;
                font-weight: 900;
                color: $dark-red;
            }

        }

        .navbar-menu-article {
            @include flex-row;
            gap: 1rem;

            .desktop-menu-list {
                @include flex-row;
                gap: 1rem;
                font-size: 2rem;
                font-weight: 500;
                font-family: $amatic;
            }

            .session-menu-list {
                @include flex-row;
                gap:0.5rem;

                li:first-child, li:nth-child(2) {
                    width: 1.2rem;
                }

                img {
                    width: 100%;
                    opacity: 0.7;
                }

                .avatar-item {
                    margin-left: 5px;
                    width: 2.2rem;
                    height: 2rem;
                    border-radius: 25px;
                }

                .avatar-link {
                    width: 100%;

                    img {
                    border-radius: 25px;
                    }
                }
            }
        }

        
    }
    .dropdown-menu-article {
        position: absolute;
        padding-top: 0.5rem;
        top: -188px;
        right: 0;
        background-color: $light-blue;
        transition: 0.4s;

        .dropdown-menu-item {
            padding: 0 1.5rem;
            height: 3rem;
            font-family: $amatic;
            font-size: 2rem;
        }

        .signout-div {
            box-sizing: border-box;
            padding: 0.5rem 1.5rem;
            width: 100%;
            border-top: 1px solid white;
        }

        .signout-link {
            text-align: right;
            font-size: 0.9rem;
        }
    }

    .dropdown-menu-article-active {
        top: 69.6px;
        z-index: -1;
    }

}