@import './utils/mixins.scss', './utils/variables.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $montserrat;

    p, label {
        color: $dark-gray;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    main {
        min-height: 620px;
    }
}