@import './utils/mixins.scss', './utils/variables.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $montserrat;
    color: $dark-blue;

    p, label {
        color: $dark-gray;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    main {
        position: relative;
        min-height: 730px;
        padding-bottom: 4rem;
        background-color: $broken-white;
        z-index: 0;

        article {
            background-color: white;
        }
    }

    .main-inactive {
        z-index: -4;
    }
}